*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-red: red;
  --color-black: black;
  --color-white: white;
  --color-foreground: black;
  --color-background: white;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  width: 100%;
}

.navbar__wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__brand-img {
  width: 100px;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__link-item {
  color: var(--color-foreground);
  text-decoration: none;
}

.navbar__link-item:hover {
  color: var(--color-red);
}

.navbar__link-item--active {
  color: var(--color-red);
}

.banner {
  width: 100%;
  height: 400px;
  position: relative;
}

.banner__bg {
  background-image: var(--bg-url);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
}

.banner > .container {
  position: relative;
}

.banner__text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--color-white);
  padding-bottom: 80px;
  max-width: 1024px;
}

.banner__text-title {
  font-size: 48px;
  margin-bottom: 12px;
}

.banner__text-description {
  font-size: 18px;
}
