<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebtechID</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="landing.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <div class="navbar__wrapper">
          <a href="#" class="navbar__brand">
            <img
              src="assets/logo.svg"
              alt="WebtechID"
              class="navbar__brand-img"
            />
          </a>
          <div class="navbar__links">
            <a href="#" class="navbar__link-item navbar__link-item--active">
              Home
            </a>
            <a href="/game" class="navbar__link-item">Game</a>
            <a href="/dsgn" class="navbar__link-item">Design</a>
            <a href="#" class="navbar__link-item">Sign In</a>
          </div>
        </div>
      </div>
    </div>

    <div class="banner">
      <div class="banner__bg" style="--bg-url: url('assets/banner.jpg')"></div>
      <div class="banner__overlay"></div>
      <div class="container">
        <div class="banner__text">
          <h3 class="banner__text-title">
            Empowering AI in Manufacturing Industry
          </h3>
          <p class="banner__text-description">
            Unlock the potential of innovation with AI-driven solutions that
            enhance efficiency, optimize production processes, and drive
            sustainable growth.
          </p>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <h2 class="section__title">Who are we?</h2>
        <p class="section__description">
          Welcome to Indonesian WebTech! Our mission is to keep you updated on
          the latest technological developments from around the globe. We
          believe in the power of technology to connect and inspire.
        </p>
      </div>
    </div>
  </body>
</html>
