<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebtechID</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="landing.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <div class="navbar__wrapper">
          <a href="#" class="navbar__brand">
            <img
              src="assets/logo.svg"
              alt="WebtechID"
              class="navbar__brand-img"
            />
          </a>
          <div class="navbar__links">
            <a href="#" class="navbar__link-item navbar__link-item--active">
              Home
            </a>
            <a href="/game" class="navbar__link-item">Game</a>
            <a href="/dsgn" class="navbar__link-item">Design</a>
            <a href="#" class="navbar__link-item">Sign In</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
