*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-red: red;
  --color-black: black;
  --color-white: white;
  --color-foreground: black;
  --color-background: white;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
